@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commissioner";
  src: url("assets/fonts/Commissioner-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("assets/fonts/Commissioner-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url("assets/fonts/Commissioner-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
